@import url('https://fonts.googleapis.com/css?family=ubuntu');

* {
    box-sizing: border-box;
}

body {
    font-family: 'ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url('galaxy_neon_tiger___digital_art_wallpaper_by_simonesheri1_dezzfuc-fullview.jpg') 
    no-repeat center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: white;
}

